/*@font-face {*/
/*    font-family: "Mabinogi_Classic_OTF";*/
/*    src: url("/static/assets/fonts/Mabinogi_Classic_OTF.otf");*/
/*}*/
@font-face {
    font-family: CookieRun;
    src: url("../fonts/CookieRun Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: CookieRun;
    src: url("../fonts/CookieRun Black.otf");
    font-weight: bold;
}


body {
    margin: unset;
    font-family: CookieRun !important;
}


/* bodyHeader */
header {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    height: 30px;
}

#current-page {
    background-color: #506fee;
    color: #fefefe;;
    padding: 8px 0 8px 0;
    font-size: 25px;
}


/* footer */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #506fee;
    font-size: 20px;
}

.navbar__menu {
    display: flex;
    color: #fefefe;
}

.left {
    margin-left: 5%;
}

.right {
    margin-right: 5%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30px;
}

#input-name {
    margin-bottom: 2%;
    width: 50%;
    height: 2em;
    font-size: 1em;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 0.63em;
    background-color: rgb(233, 233, 233);
}


#character_image {
    margin: auto;
    width: 40%;
}

/* image */
#default_image {
    margin: auto;
    width: 70%;
}

#result-image {
    margin: auto;
    width: 80%;
    display: block;
}

/* wrapper */
#content-wrapper {
    margin-top: 15%;
}

.content-container {
    text-align: center;
    margin: 10%;
    box-shadow: 3px 3px 3px 3px #c2c2c2;
}

/* table */
table {
    width: 250px;
    table-layout: fixed;
    overflow-wrap: break-word;
}

td {
    padding: 10px;
    border: 1px solid #666666;
    white-space: nowrap;
    max-width: 100px;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    /* overflow-wrap: break-word; */
}


/* button */
/* name-btn */
.name-btn {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 0.85em;
    font-weight: bold;
    padding: 0.38em 0.44em;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;

    margin: 1%;
}

.name-btn:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
}

.name-btn:active {
    position: relative;
    top: 1px;
}

/* similar page 꽃가루 animation */
canvas {
    z-index: 10;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: scale(1.1);
}

/* loading */
#loading {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.8;
    background: white;
    z-index: 99;
    text-align: center;
    top: 0;
    left: 0;
    position: fixed;

}

#loading > img {
    top: 50%;
    z-index: 100;
    margin-top: 60%;
}

/* ranking */
.rank_table {
    width: 100%;
    text-align: center;
    border: rgba(225, 225, 225, 0.89) 1px solid;
}
.rank_table thead {
    border-bottom: rgba(225, 225, 225, 0.82) 1px solid;
    background: rgba(225, 225, 225, 0.93);
}
.rank_table th, td {
    padding: 0;
}
.rank-container {
    display: flex;
    margin-bottom: 5%;
}
.table-container {
    margin: 2.5%;
    flex: 1;
}





