<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">

    <!-- Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="searchModalLabel">의원 검색</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">검색</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <nav class="navbar">

            <div class="navbar__menu left">
                <!-- Button trigger modal -->
                <a data-bs-toggle="modal" data-bs-target="#searchModal">의원 검색</a>
            </div>
            <div class="navbar__menu">
                <a th:if="${currentPage != 'home'}" href="/"><img src="/images/nav/home_house_icon_143764.png"></a>
                <a th:if="${currentPage == 'home'}" href="/"><img src="/images/nav/homepage1_114609.png"></a>
            </div>
            <div class="navbar__menu right">
                <a href="/mypage" style="text-decoration: none; color: #fefefe;">마이페이지</a>
            </div>
        </nav>
    </footer>
</th:block>
